{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'img/mario.png' %}" alt="img">
        </div>
        <div class="form">           
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Entrar</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{% url 'index' %}">Cadastrar</a></button>
                    </div>                                             
                </div>
                <div class="input-box">
                    <label for="firstname">Username</label>
                    <input id="username" type="text" name="username" placeholder="Digite seu o nome de usuário" required>
                </div>
                <div class="input-box">
                    <label for="firstname">Senha</label>
                    <input id="password" type="text" name="password" placeholder="Digite sua senha:" required>
                </div>
                

                <div class="continue-button">
                    <button><a href="#">Continuar</a> </button>
                </div>
            </form>   
        </div>
    </div>
</body>

</html>
